/* Pop ups */

#popup-div {
  background-color: white;
  width: 90%;
  height: 90vh;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid black 2px;
  font-family: 'Maitree', serif;
  border-radius: 5px;
}
#popup-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#popup-close button {
  border: none;
  background-color: white;
  margin-top: 2px;
  margin-right: 2px;
}
.close {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
#popup-close p {
  font-size: 1.5rem;
  margin: 0;
}
#popup-div h2 {
  margin: 0;
  font-size: 3rem;
  padding-left: 20px;
}

/* Work on this ... need to adjust popups based on height */
@media only screen and (max-width: 420px) {
  #popup-div {
    min-height: 180vh;
  }
}
