/* sell notes */

.sell-note-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid black 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
}
.sell-note-image :hover {
  animation: dance 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes dance {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  
}
.sell-note-image img {
  max-height: 60%;
  max-width: 60%;
}
#sell-note-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8%;
}
#sell-note-left p {
  max-width: 30%;
  text-align: center;
  text-emphasis: bolder;
  font-family: 'Maitree', serif;
  font-size: 1.5rem;
}
#sell-note-right p {
  max-width: 30%;
  text-align: center;
  text-emphasis: bolder;
  font-family: 'Maitree', serif;
  font-size: 1.5rem;

}
#sell-note-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
}