@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap" rel="stylesheet');
@import url('https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css');
@import "css/navigation.css";
@import "css/homepage.css";
@import "css/socials-header.css";
@import "css/sellnote.css";
@import "css/footer.css";
@import "css/popups.css";
@import "css/contact.css";
@import "css/technology.css";
@import "css/prices.css";

body {
  min-height: 100vh;
}
html {
  max-height :100%;
}

/* animations */
.social-animation :hover{
  transform: scale(1.3);
}
#nav-link-animation :hover {
  background-color: black;
  color: white;
  animation-name: flash;
	animation-duration: .2s; 
}
@keyframes flash {
	0%, 100%{opacity: 1;}	
  50% {opacity: 0;}
}
#nav-link-animation :active {
  opacity: 0;
}
.heading-animation {
  animation: heading 4s;
}
.top-component {
  width: 100%;
  font-family: 'Maitree', serif;
  font-weight: bold;
  padding-left: 80%;
}
.top-component:visited{
  color: black;
}
@keyframes heading {
  0% {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}