@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap" rel="stylesheet');
@import url('https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css');


body {
  min-height: 100vh;
}

/* navigation */

#navigation {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navigation-link-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Maitree', serif;
}
.navigation-link {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-link a {
  text-decoration: none;
}
.navigation-link a:visited {
  color: black;
}

/* home page */

#home-page-header {
  border-top:  solid black 2px;
  border-bottom:  solid black 2px;
  height: 55vh;
  width: 100%;
  background-image: url("/road.jpeg"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Maitree', serif;
}
#home-page-header p {
  color: white;
  font-size: 1.5rem;
}
#home-page-header h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 92px;
  margin-bottom: 20px;
}
#home-header-content-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* socials styling within header */
#socials {
  padding-top: 20px;
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#social-image-div-twitter {
  height:  35px;
  width: 35px;
  background-image: url("/twitter.png"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 50%;
}
#social-image-div-email {
  height:  35px;
  width: 35px;
  background-image: url("/email.png"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 50%;
}
#social-image-div-link {
  height:  35px;
  width: 35px;
  background-image: url("/linkdin.png"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 50%;
}
#journey {
  height: 100px;
  border-bottom: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
#avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: url("/me-rough.jpg"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  /* position: absolute;
  margin: 60px;
  top: 0%;
  left: 0%; */
  
}
#journey p {
  text-align: center;
  font-family: 'Maitree', serif;
  font-size: 25px;
}

/* sell notes */

.sell-note-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid black 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
}
.sell-note-image img {
  max-height: 60%;
  max-width: 60%;
}
#sell-note-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8%;
}
#sell-note-left p {
  max-width: 30%;
  text-align: center;
  text-emphasis: bolder;
  font-family: 'Maitree', serif;
  font-size: 1.5rem;
}
#sell-note-right p {
  max-width: 30%;
  text-align: center;
  text-emphasis: bolder;
  font-family: 'Maitree', serif;
  font-size: 1.5rem;

}
#sell-note-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
}

/* Footer */

#footer-div {
  width: 100%;
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
#footer-div a {
  font-family: 'Maitree', serif;
  color: white;
  text-decoration: none;
}
#attribution-wrapper {
  background-color: black;
}
#attribution-wrapper p {
  margin: 0;
  font-family: 'Maitree', serif;
  color: white;
  font-size: .8rem;
  text-align: center;
  padding-bottom: 10px;
}

/* Pop ups */
#popup-div {
  background-color: white;
  width: 90%;
  height: 90vh;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid black 2px;
  font-family: 'Maitree', serif;
  border-radius: 5px;;
}
#popup-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#popup-close button {
  border: none;
  background-color: white;
  margin-top: 2px;
  margin-right: 2px;
}
#popup-close p {
  font-size: 1.5rem;
  margin: 0;
}
#popup-div h2 {
  margin: 0;
  font-size: 3rem;
  padding-left: 20px;
}

/* contact */
#form-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#form-wrapper form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: solid black 2px;
  border-radius: 5px;
  background-image: url('/road.jpeg');
  background-position: center;
}
#form-wrapper form label {
  margin-top: 15px;
}
#form-wrapper form input {
  font-size: 1.2rem;;
}
#form-wrapper form p {
  background-color: white;
  padding: 20px;
}
#form-wrapper form button {
  margin-bottom: 10px;
}
.recaptcha {
  margin-bottom: 10px;
}
#radio-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#radio-buttons div {
  padding: 20px;
  padding-top: 0;
}
.label-text-white {
  color: white;
}
#inner-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#inner-content p {
  text-align: center;
  padding: 0px 50px 0px 50px;
  font-size: 1.2rem;
  font-style: italic;
}
#inner-content label {
  font-size: 1.5rem;
}
#inner-content textarea {
  max-width: 95%;
}

/* technology */
#tech-popup-wrapper {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#tech-wrapper {
  height: 80%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#tech-popup-wrapper p {
  width: 80%;
  text-align: center;
}
.tech-note {
  width: 49%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tech-note-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 20px;
}

/* icons */
.devicon-html5-plain-wordmark {
font-size: 4em;
}
.devicon-javascript-plain {
  font-size: 4em;
}
.devicon-react-original-wordmark {
  font-size: 4em;
}
.devicon-sass-original {
  font-size: 4em;
}
.devicon-rails-plain-wordmark {
  font-size:  4em;
}
.devicon-bootstrap-plain-wordmark {
  font-size: 4em;
}
.devicon-express-original {
  font-size: 4em;
}
.devicon-amazonwebservices-plain-wordmark {
  font-size: 4rem;
}

/* prices */
#prices-outer-wrapper {
  width:100%;
  height:96%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prices-wrapper {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#prices-wrapper p {
  border-top: solid black 1px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 1.2rem;
  text-align: center;
}

#request-qoute {
  font-size: 1.5rem;
  box-shadow: 0px 10px 14px -7px #b83232;
	background:linear-gradient(to bottom, #eb1212 5%, #d66262 100%);
	background-color:#a11b1b;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  font-family: 'Maitree', serif;
}
#curly-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 300px;
}
#curly-right img {
  max-height: 100%;
  max-width: 100%;
}
#attribution {
  font-size: 8px;
}